*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Lato', sans-serif ;  

}

.containerbaa{
    margin-top: 5%;
}
.containerbaa h4{
    color: #293250 ; 
}
.containerbaa h3{
    text-align: center;
}
.containerbaa .buttonbaf{
    margin-top: 10%;
    margin-bottom: 10%;
    
}


.containerbaa .beforeImg{
    padding:0px ;

    margin: auto;
    border: 5px solid #293250; 
    justify-content: center;
   
    background-color:white ; 
    cursor:pointer;

}
.containerbaa .afterImg{
    padding:0px ;
    margin: auto;   
    justify-content: center;

    border: 5px solid #293250; 
      
    background-color:white ;  
    cursor:pointer; 
}
.containerbaa .beforeImg img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
    padding:0px ;
    

    
}
.containerbaa .afterImg img{    
    padding:0px ;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
    
    
}
